.document-item__container {
  position: relative;
  width: auto;
  margin: 10px;
  padding: 15px;
  background-color: lightgray;;
  border-radius: 5px;
}

.document-item__signed-indicator {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: darkgoldenrod;
}

.document-item__title {
  font-weight: bold;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}